<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="http://192.168.0.129:8080/thinkox4/index.php?s=/forum/lzl/doSendLZLReply" method="post">
		uid: <input type="text" name="uid" />
		<br />
		to_uid: <input type="text" name="to_uid" />
		<br />
		post_id: <input type="text" name="post_id" />
		<br />
		to_f_reply_id: <input type="text" name="to_f_reply_id" />
		<br />
		to_reply_id: <input type="text" name="to_reply_id" />
		<br />
		content: <input type="text" name="content" />
		<br />
		<input type="submit" value="提交" />
	</form>
</body>
</html>